* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* @font-face {
    font-family: 'Nata';
    src: url('fonts/NataSans-Regular.ttf') format('tttruetype');
}

@font-face {
    font-family: 'Pixel';
    src: url('fonts/PixelifySans-Regular.ttf') format('tttruetype');
}

@font-face {
    font-family: 'Jet';
    src: url('fonts/JetBrainsMono-Regular.ttf') format('tttruetype');
} */

body {
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: #000;
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 0 30px;
}

.nav-items {
    display: flex;
    align-items: center;
}

/* nav {
    border-bottom: 1px solid #000;
    height: 80px;
    width: 100%;
} */

body.dark-theme nav {
    border-bottom: 1px solid #fff;
}

label.logo {
    font-family: 'Pixelify Sans';
    font-size: 35px;
    /* padding: 0 100px; */
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    font-family: 'Pixelify Sans';
    color: #000;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

body.dark-theme nav ul li a {
    color: #fff;
}

body.dark-theme .nav-item.active, .nav-item:hover {
    color: #000;
    background: #fff;
}

.nav-item.active, .nav-item:hover {
    color: #fff;
    background: #000;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    float: right;
    /* line-height: 80px; */
    /* margin-right: 40px; */
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Greeting */
.greeting-section {
    padding: 20px 30px;
    margin: 20px;
    border: 1px solid #000;
}

body.dark-theme .greeting-section {
    border: 1px solid #fff;
}

.greeting {
    font-family: 'Pixelify Sans';
    font-size: 40px;
    font-weight: bold;
}

.about-me {
    font-family: 'Pixelify Sans';
    margin: 20px 0px;
}

.contact {
    display: flex;
    gap: 10px;
}

.contact-email {
    font-family: 'Jetbrains Mono';
    border: 1px solid #000;
    padding: 10px 16px;
    font-size: 20px;
    color: #000;
    outline: none;
    box-shadow: 5px 5px 0 #000;
    transition: all .3s;
    display: inline-block;
}

body.dark-theme .contact-email {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    box-shadow: 5px 5px 0 #fff;
}

/* .contact-email:focus {
    box-shadow: none;
    transform: translate(5px, 5px);
} */

/* .button {
    font-family: 'Jetbrains Mono';
    display: inline-block;
    border: 1px solid #000;
    padding: 10px 16px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    outline: none;
    box-shadow: 5px 5px 0 #000;
    transition: all .3s ease-in-out;
} */

.button {
    font-family: 'Jetbrains Mono';
    display: inline-block;
    border: 1px solid #000;
    padding: 10px 16px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    outline: none;
    box-shadow: 5px 5px 0 #000;
    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.button::before {
    content: "";
    position: absolute;
    top: 0; left: -100%;
    width: 100%; height: 100%;
    background: black;
    transition: all 0.4s ease;
    z-index: -1;
}

.button:hover::before {
    left: 0;
}

body.dark-theme .button {
    border: 1px solid #fff;
    color: #fff;
    box-shadow: 5px 5px 0 #fff;
}

.button:hover {
    color: white;
}

body.dark-theme .button:hover {
    color: #000;
}

.button::before {
    content: "";
    position: absolute;
    top: 0; left: -100%;
    width: 100%; height: 100%;
    background: black;
    transition: all 0.4s ease;
    z-index: -1;
}

body.dark-theme .button::before {
    background: #fff;
}

body.dark-theme .button:active {
    transform: translate(5px, 5px);
    box-shadow: none;
}

.button:active {
    transform: translate(5px, 5px);
    box-shadow: none;
}

/* @media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
} */

@media (max-width: 990px) {
    nav {
        padding: 20px 30px;
    }
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #000;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .contact {
        flex-wrap: wrap;
        gap: 15px;
    }
    .download-buttons {
        flex-wrap: wrap;
        gap: 15px;
    }
}

/* Projects */
.projects-section {
    padding: 20px 30px;
    margin: 20px;
    border: 1px solid #000;
}

body.dark-theme .projects-section {
    border: 1px solid #fff;
}

.projects-section h2 {
    font-family: 'Pixelify Sans';
    font-size: 40px;
    margin-bottom: 20px;
}

.category {
    margin-bottom: 30px;
}

.category h3 {
    font-family: 'Pixelify Sans';
    font-size: 28px;
    margin-bottom: 10px;
}

.project-card {
    border: 1px solid #000;
    padding: 15px;
    box-shadow: 5px 5px 0 #000;
    margin-bottom: 15px;
    font-family: 'Jetbrains Mono';
}

.project-card h4 {
    /* font-family: 'Jetbrains Mono'; */
    font-size: 25px;
}

.project-card p {
    /* font-family: 'Jetbrains Mono'; */
    font-size: 18px;
    font-style: italic;
}

.download-buttons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

/* Theme switcher */
/* Контейнер переключателя */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Прячем стандартный checkbox */
.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Ползунок */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

/* Кружок внутри */
.slider:before {
  position: absolute;
  content: "🌞";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  text-align: center;
  line-height: 21px;
  font-size: 14px;
  transition: 0.4s;
  border-radius: 50%;
}

/* Активное состояние */
input:checked + .slider {
  background-color: #666;
}

input:checked + .slider:before {
  transform: translateX(25px);
  content: "🌙";
}

.footer {
    border-top: 1px solid #000;
    padding: 20px;
}

body.dark-theme .footer {
    border-top: 1px solid #fff;
}

.footer h2 {
    font-family: 'Pixelify Sans';
    font-size: 30px;
    margin-bottom: 20px;
}

.social-networks {
    display: flex;
    gap: 15px;
}

.social-network {
    display: inline-block;
    padding: 15px;
    border: 1px solid #000;
    box-shadow: 5px 5px 0 #000;
    transition: all .4s;
    text-decoration: none;
    color: #000;
}


body.dark-theme .social-network {
    color: #fff;
}

body.dark-theme .social-network {
    border: 1px solid #fff;
    box-shadow: 5px 5px 0 #fff;
}

.social-network:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

body.dark-theme .social-network:hover {
    background-color: #fff;
    color: #000;
}

.social-network i {
    font-size: 30px;
    color: #000;
    color: inherit;
}

body.dark-theme .social-network i {
    color: #fff;
    color: inherit;
}

.title-icon {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    /* border: 2px solid red; */
}

.title-icon img {
    width: 40px;
    height: 40px;
    /* border: 2px solid #fff; */
}

/* ------------------- Modal ------------------- */
/* Затемнённый фон */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
}

/* Содержимое окна */
.modal-content {
  background: #fff;
  padding: 20px 30px;
  border: 3px solid #000;
  border-radius: 12px;
  max-width: 400px;
  width: 80%;
  transform: scale(0.7);
  opacity: 0;
  animation: modalFadeIn 0.3s forwards;
  position: relative;
  font-family: 'Jetbrains Mono';
}

body.dark-theme .modal-content {
    background: #000;
    border: 3px solid #fff;
}

/* Кнопка закрытия (крестик) */
.close {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #666;
  transition: color 0.2s;
}

.close:hover {
  color: #000;
}

body.dark-theme .close:hover {
  color: #fff;
}

/* Анимация появления */
@keyframes modalFadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
